<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-content-center justify-content-center" href="">
            <Icon Name="IconName.HeartFill" Size="IconSize.x3" />
        </a>

    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="connect" Match="NavLinkMatch.All">
                <Icon Name="IconName.PersonHeart" Size="IconSize.x2" />
                <span aria-hidden="true"></span> Connect
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <button class="nav-link btn btn-link" @onclick="UserProfile">
                <Icon Name="IconName.Person" Size="IconSize.x2" />
                <span aria-hidden="true"></span> Profile
            </button>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin" Match="NavLinkMatch.All">
                <Icon Name="IconName.PersonFillGear" Size="IconSize.x2" />
                <span aria-hidden="true"></span> Admin
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login" Match="NavLinkMatch.All">
                <Icon Name="IconName.ArrowBarRight" Size="IconSize.x2" />
                <span aria-hidden="true"></span> Login
            </NavLink>
        </div>        
        
        <div class="nav-item px-3">
            <button class="nav-link btn btn-link" @onclick="Logout">
                <Icon Name="IconName.ArrowBarLeft" Size="IconSize.x2" />
                <span aria-hidden="true"></span> Logout
            </button>
        </div>
        


    </nav>
</div>

@code {
    @inject NavigationManager NavigationManager
    @inject DatingApp.Services.UserService UserService
    @inject IJSRuntime JSRuntime
    @using Microsoft.JSInterop
    @rendermode InteractiveServer

    private void UserProfile()
    {
        NavigationManager.NavigateTo($"/user/{UserService.Id}");
    }
    private void Logout()
    {
        if (!UserService.IsLoggedIn)
        {
            JSRuntime.InvokeVoidAsync("alert", "You are already logged out.");

        }
        else
        {
            UserService.Id = 0;
            UserService.FirstName = string.Empty;
            UserService.LastName = string.Empty;
            UserService.Email = string.Empty;
            UserService.Login = string.Empty;
            UserService.IsLoggedIn = false;

            // Show a success alert using JavaScript
            JSRuntime.InvokeVoidAsync("alert", "You have been successfully logged out.");

            // Redirect to the login page or any other desired location
            NavigationManager.NavigateTo("/login");
        }
        
    }
}
