@page "/"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject DatingApp.Data.DatingContext DB
@using DatingApp.Models
@inject NavigationManager Nav
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Home</PageTitle>

<h1>Welcome to Dating App</h1>

<button class="btn btn-primary" @onclick="Create">
    <Icon Name="IconName.PlusLg" Size="IconSize.x6" />
    Create
</button>

@code{

    private void Create(){
        Nav.NavigateTo("/users/create");
    }
}