@page "/"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject DatingApp.Data.DatingContext DB
@using DatingApp.Models
@inject NavigationManager Nav
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="container">

</div>




@code{

    private void Create(){
        Nav.NavigateTo("/users/create");
    }
}