.container {
    background-image:url(/imgs/gif4.gif);
    background-size:unset;
    background-position: center;
    height: 95vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:aquamarine;
}
.container-title {
    font-size: 3rem; 
}

