@page "/"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject DatingApp.Data.DatingContext DB
@using DatingApp.Models
@inject NavigationManager Nav
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Home</PageTitle>

<div class="container-title d-flex align-items-center justify-content-center">
    <h1><strong>Dating App</strong></h1>
</div>



@code{

    private void Create(){
        Nav.NavigateTo("/users/create");
    }
}